@page "/bookPrice"
@inject MyGraphClient Client

<h3>Book Price Updates</h3>

<RadzenChart @ref="bookChart">
    <RadzenLineSeries Data="@bookPrices" CategoryProperty="Time" Title="Book Price" ValueProperty="Price">
        <RadzenMarkers Visible="true" MarkerType="MarkerType.Circle" />
        <RadzenSeriesDataLabels Visible="true" />
    </RadzenLineSeries>
</RadzenChart>

@code {
    class BookPriceUpdate
    {
        public string Time { get; set; }
        public double Price { get; set; }
    }

    RadzenChart bookChart;
    private List<BookPriceUpdate> bookPrices = new List<BookPriceUpdate>();
    private IDisposable? subscription;

    protected override void OnInitialized()
    {
        subscription = Client.OnBookPriceUpdated.Watch().Subscribe(result =>
        {
            var updatedPrice = result.Data.OnBookPriceUpdated.Price;
            var currentTime = DateTime.Now.ToString("HH:mm:ss");

            bookPrices.Add(new BookPriceUpdate
            {
                Price = updatedPrice,
                Time = currentTime
            });

            bookChart.Reload();
            InvokeAsync(StateHasChanged);
        });
    }

    public void Dispose()
    {
        subscription?.Dispose();
    }
}
